In [2]:
from alpha_vantage.timeseries import TimeSeries
import pandas as pd
import time

In [5]:
# API Key
key = "your_api_key"

In [14]:
ts = TimeSeries(key=key, output_format='pandas')
data = ts.get_daily(symbol='TSLA', outputsize='full')[0]
data.columns = ["open","high","low","close","volume"]
data = data.iloc[::-1]

In [15]:
data

               open       high      low    close      volume
date
2010-06-29    19.00    25.0000    17.54    23.89  18766300.0
2010-06-30    25.79    30.4192    23.30    23.83  17187100.0
2010-07-01    25.00    25.9200    20.27    21.96   8218800.0
2010-07-02    23.00    23.1000    18.71    19.20   5139800.0
2010-07-06    20.00    20.0000    15.83    16.11   6866900.0
...             ...        ...      ...      ...         ...
2020-08-17  1677.00  1845.8600  1672.83  1835.64  20023104.0
2020-08-18  1898.99  1923.9000  1845.11  1887.09  16474491.0
2020-08-19  1865.00  1911.0000  1841.21  1878.53  12205331.0
2020-08-20  1860.68  2021.9900  1857.06  2001.83  20611796.0
2020-08-21  2044.76  2095.4900  2025.05  2049.98  21489559.0

[2556 rows x 5 columns]

## Extracting stock data (historical close price) for multiple stocks

In [17]:
all_tickers = ["AAPL","MSFT","CSCO","AMZN","GOOG",
               "FB","BA","MMM","XOM","NKE","INTC"]
close_prices = pd.DataFrame()
api_call_count = 1
ts = TimeSeries(key=key, output_format='pandas')
start_time = time.time()
for ticker in all_tickers:
    data = ts.get_intraday(symbol=ticker,interval='1min', outputsize='compact')[0]
    api_call_count+=1
    data.columns = ["open","high","low","close","volume"]
    data = data.iloc[::-1]
    close_prices[ticker] = data["close"]
    if api_call_count==5:
        api_call_count = 1
        time.sleep(60 - ((time.time() - start_time) % 60.0))

In [18]:
close_prices

,AAPL,MSFT,CSCO,AMZN,GOOG,FB,BA,MMM,XOM,NKE,INTC
date,,,,,,,,,,,
2020-08-21 18:07:00,498.65,215.11,NaN,NaN,NaN,NaN,167.80,NaN,NaN,NaN,NaN
2020-08-21 18:08:00,498.65,214.93,NaN,NaN,NaN,264.85,NaN,NaN,NaN,NaN,NaN
2020-08-21 18:09:00,498.73,NaN,NaN,NaN,NaN,NaN,167.80,NaN,NaN,NaN,NaN
2020-08-21 18:10:00,498.60,214.90,42.22,NaN,NaN,NaN,NaN,NaN,NaN,109.53,NaN
2020-08-21 18:11:00,498.56,214.78,NaN,NaN,NaN,265.07,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2020-08-21 19:56:00,498.75,214.80,NaN,3282.5,NaN,NaN,NaN,NaN,41.13,NaN,49.08
2020-08-21 19:57:00,498.88,214.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.08
2020-08-21 19:58:00,498.95,214.85,NaN,NaN,NaN,266.60,167.61,NaN,NaN,NaN,49.10
2020-08-21 19:59:00,498.98,214.77,42.24,NaN,NaN,NaN,167.79,NaN,NaN,NaN,49.12
2020-08-21 20:00:00,498.95,214.60,NaN,NaN,NaN,NaN,167.79,NaN,NaN,109.55,49.09

## Extracting OHLCV data for multiple stocks

In [19]:
all_tickers = ["AAPL","MSFT","CSCO","AMZN","GOOG",
               "FB","BA","MMM","XOM","NKE","INTC"]
ohlv_dict = {}
api_call_count = 1
ts = TimeSeries(key=open(key_path,'r').read(), output_format='pandas')
start_time = time.time()
for ticker in all_tickers:
    data = ts.get_intraday(symbol=ticker,interval='1min', outputsize='compact')[0]
    api_call_count+=1
    data.columns = ["open","high","low","close","volume"]
    data = data.iloc[::-1]
    ohlv_dict[ticker] = data
    if api_call_count==5:
        api_call_count = 1
        time.sleep(60 - ((time.time() - start_time) % 60.0))

FileNotFoundError: [Errno 2] No such file or directory: '8WBAJNPMNGHZT90J'

In [ ]:
ohlv_dict['AMZN']